.team__member {
    height: 95%;
    width: 14rem;
    background: var(--color-bg2);
    padding: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
    position: relative;
    overflow: hidden;
    border-radius: 1rem;
    padding: 2rem .5rem;

    &:hover {
        background: transparent;
        border-color: var(--color-primary);

        img {
            filter: saturate(1);
        }

        .team__member__socials {
            right: -5%;
        }
    }

    .team__member-img {
        img {
            filter: saturate(0);
            aspect-ratio: 3/ 4;
        }
    }

    .team__member__info {
        margin-top: 1rem;

        h4,
        p {
            text-align: center;
        }
        h4{
            font-weight: 500;
        }

        p {
            color: var(--color-light);
        }
    }

    .team__member__socials {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: -100%;
        display: flex;
        flex-direction: column;
        background: var(--color-primary);
        border-radius: 1rem 0 0 1rem;
        box-shadow: -2rem 0 2rem rgba(0, 0, 0, 0.3);
        transition: var(--transition);

        a {
            padding-right: 1rem;
            padding-top: 1rem;
            padding-bottom: 1rem;
            padding-left: .5rem;
        }
    }
}

@media screen and (max-width:1024px) {
    .team__member {
        padding: 1rem;

        .team__member-img {
            display: flex;
            justify-content: center;
        }
    }
}

@media screen and (max-width:600px) {
    .team__member {
        padding: 0.5rem;

        p {
            margin-bottom: 1.5rem;
        }
    }
}

@media screen and (max-width:400px) {
    .team__member-img {
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: center;
        margin-top: 1rem;
    }
}